
/* основной цвет, заголовки  #212121 */
/* вторичный цвет, абзацы #757575 */
/* цвет ссылки при наведении, акцент  #2196F3 */
/* футер-почта-номер  rgba(255, 255, 255, 0.6) */
/* футер-адрес #FFFFFF*/
/* фон бекграунд #2F303A */
/* цвет фона блока наша команда #F5F4FA */


:root {
  --title-text-color:  #212121;
  --primary-text-color: #757575;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --footer-color: rgba(255, 255, 255, 0.6);
  --main-bcg: #2F303A; 

}

body {
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  background-color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
} 

* {
  margin: 0;
  padding: 0;
}

/* list  */
ul {
  list-style-type: none;
}

li {
  display: list-item;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* title */
.title {
  color: var(--title-text-color);
}

/* container */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ссылки */
a:hover,
a:focus {
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--title-text-color);
}

/* logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;  
}

.header-logo {
  margin-right: 93px;
}
.logo-secondary {
  color: var(--white-color);
} 

/* header */
.header {
  background-color: #fff;
}

/* navigation */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

/* .site-nav .item+.item {
  margin-left: 50px;
} */

 .site-nav:hover,
 .site-nav:focus {
   color: var(--accent-color);
   
 }
.site-nav .link,
.auth-nav .link {
  /* display: block; */
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
 }

 .item {
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.item:last-child {
  margin-right: 0;
}
 .auth-nav {
   display: flex;
   margin-left: auto;
 }
 .auth-nav .link {
  color: var(--primary-text-color);
  /* margin-right: 50px; */
}
 
 .auth-nav .link:hover,
 .auth-nav .link:focus {
  color: var(--accent-color);
 }

 /* hero */
 .hero-page {
   background-color: var(--main-bcg); 
   text-align: center;
   margin-bottom: 94px;
 }

 .hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-top: 200px;
 }


 /* button */
 .btn-hero {
   color: var(--white-color);
   background-color: var(--accent-color);
   border-radius: 4px;
   border: 1px solid transparent;
   width: 200px;
   margin-bottom: 200px;
   height: 50px;
   display: inline-block;
   box-sizing: border-box;
 }
 .text-hero {
   min-width: 136px;
   min-height: 30px;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.19;
   letter-spacing: 0.06em;
   padding: 10px 32px;
   display: flex;
   align-items: center;
   position: absolute;
 }

 .btn-hero:hover,
 .btn-hero:focus {
  color: var(--white-color);
  /* background-color: var(--accent-color); */
 }
 
/* скрытый заголовок */
.h2-invis {
  display: none;
}

 /* наши работы */
 .our-jobs {
   margin-bottom: 188px;
 }
 .jobs-img .title,
 .team > h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
 }

 .pictures {
   display: flex;
 }
 .pictures  img {
    margin-right: 30px;
    display: block;
 } 
  .pictures img:last-child {
     margin-right: 0;
 }


.features {
  display: flex;
  flex-wrap: wrap;
}
.features > .item {
  margin-right: 30px;
}

 .features .title {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
 }

 .features p {
  line-height: 1.71;
  letter-spacing: 0.03em;
 }
 .features-list {
   margin-right: 30px;
   margin-bottom: 94px;
   width: 270px;
 }
 .features-list:last-child {
   margin-right: 0;
 }
 .title.works {
    margin-bottom: 10px;
 }

 .title.h2 {
   text-align: center;  
   margin-bottom: 50px;
 }
 
 /* наша команда */
 .team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
 }
.team-list {
  margin-right: 30px;
  text-align: center;
}
.team-list:last-child {
  margin-right: 0;
}
 
  .workers > img {
   margin-bottom: 30px;
   display: block;
 }

.workers-prof {
  margin-bottom: 30px;
}

 /* footer */
 .footer {
  background-color: var(--main-bcg);
    
}
.logo-footer {
  margin-bottom: 20px;
}

.footer .link {
  color: var(--footer-color);
}
.footer-p {
  margin-bottom: 9px;
}
.footer-p:last-child {
  padding-bottom: 60px;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.logo-footer.container {
  padding-top: 60px;
  padding-bottom: 0;

}
